@media screen and (min-width:0px){
    /*基本　スマホ用*/
    body {
        background-color: #c8f9ca;

    }

    h1 {
        text-align: center;
    }

    #wrap {
        font-size: 2.2em;
    }

    #stack{
        /*margin: 20px;*/
    }

    #in > input {
        font-size: 1em;
        text-align: center;
    }

    #button{
        border-radius: 100%;
        width: 200px;
        height: 45px;
        font-size: 1em;
        background-color: lime;
    }

    #stack_box {
        width: 300px;
        margin: 50px 25px 25px;
        background-color:#fff;
    }

    #stack > div {
        border: solid 1px;
        border-top: none;
    }

    #stack > div:first-child {
        border-top: solid 1px;
    }

}
/***************************************************/

@media screen and (min-width:1024px){
    /*パソコン修正用*/
    h1{
        font-size: 3em;
    }
    #wrap {
        font-size: 3em;
    }
    #in > input{
        font-size: 1em;
    }
    #button{
        width: 300px;
        height: 80px;
        font-size: 1em;
    }
}